@import "variables";

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?sacfjd');
    src:    url('../fonts/icomoon.eot?sacfjd#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?sacfjd') format('truetype'),
        url('../fonts/icomoon.woff?sacfjd') format('woff'),
        url('../fonts/icomoon.svg?sacfjd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check {
    &:before {
        content: $icon-check;
    }
}
.icon-design {
    &:before {
        content: $icon-design;
    }
}
.icon-free {
    &:before {
        content: $icon-free;
    }
}
.icon-help {
    &:before {
        content: $icon-help;
    }
}
.icon-idea {
    &:before {
        content: $icon-idea;
    }
}
.icon-ionicons {
    &:before {
        content: $icon-ionicons;
    }
}
.icon-photoshop {
    &:before {
        content: $icon-photoshop;
    }
}
.icon-pixel {
    &:before {
        content: $icon-pixel;
    }
}
.icon-logo {
    &:before {
        content: $icon-logo;
    }
}
.icon-mail {
    &:before {
        content: $icon-mail;
    }
}
.icon-phone {
    &:before {
        content: $icon-phone;
    }
}
.icon-location {
    &:before {
        content: $icon-location;
    }
}
.icon-sphere {
    &:before {
        content: $icon-sphere;
    }
}
.icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}
.icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}
.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}
.icon-dribbble {
    &:before {
        content: $icon-dribbble;
    }
}
.icon-github2 {
    &:before {
        content: $icon-github2;
    }
}
.icon-paperplane {
    &:before {
        content: $icon-paperplane;
    }
}

