$icomoon-font-path: "fonts" !default;

$icon-check: "\e900";
$icon-design: "\e901";
$icon-free: "\e902";
$icon-help: "\e903";
$icon-idea: "\e904";
$icon-ionicons: "\e905";
$icon-photoshop: "\e906";
$icon-pixel: "\e907";
$icon-logo: "\e912";
$icon-mail: "\e910";
$icon-phone: "\e908";
$icon-location: "\e909";
$icon-sphere: "\e90a";
$icon-facebook: "\e90b";
$icon-instagram: "\e90c";
$icon-twitter: "\e90d";
$icon-dribbble: "\e90e";
$icon-github2: "\e90f";
$icon-paperplane: "\e911";

