@charset "UTF-8";
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57143;
  color: #83a7a5;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1060px;
  padding: 0 15px;
  margin: 0 auto;
}

h1, .h1 {
  font-size: 50px;
  font-weight: 300;
}

h2, .h2 {
  font-size: 38px;
  font-weight: 400;
}

h3, .h3 {
  font-size: 32px;
  font-weight: 300;
}

h4, .h4 {
  font-size: 16px;
  font-weight: 400;
}

h5, .h5 {
  font-size: 15px;
  font-weight: 500;
}

h6, .h6 {
  font-size: 13px;
  font-weight: 500;
}

.head {
  font-size: 22px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.center-block {
  margin: 0 auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-round {
  border-radius: 50%;
}

.checked {
  margin: 0;
  padding: 0;
  list-style: none;
}

.checked li {
  margin-bottom: 17px;
  padding-left: 34px;
  position: relative;
}

.checked li:before {
  content: "\e900";
  font-family: 'icomoon';
  font-size: 26px;
  position: absolute;
  top: -7px;
  left: 0;
}

.delimiter {
  width: 40px;
  height: 40px;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  margin-bottom: 54px;
}

.delimiter:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid #f2f2f2;
}

@media screen and (min-width: 768px) {
  .delimiter {
    width: 90px;
    height: 90px;
  }
}

.text-primary {
  color: #6fb048;
}

.text-primary h1, .text-primary h2, .text-primary h3, .text-primary h4, .text-primary h5, .text-primary h6 {
  color: #6fb048;
}

.mail {
  display: block;
  font-size: 18px;
  color: #0f5f5c !important;
}

.mail:hover {
  text-decoration: underline;
}

.mail-md {
  display: inline-block;
  font-size: 15px;
}

.mail-sm {
  font-size: 13px;
}

.grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .grid {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}

.grid .column-100 {
  width: 100%;
}

.grid .column-50 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .grid .column-50 {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .grid .column-50-margin:last-child {
    margin-left: 65px;
  }
}

.grid .column-30 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .grid .column-30 {
    width: 33.3333333333%;
  }
}

.grid .column-25 {
  width: 33.333333%;
}

.grid .column-25:last-child {
  width: 100%;
}

@media screen and (min-width: 996px) {
  .grid .column-25 {
    width: 25%;
  }
  .grid .column-25:last-child {
    width: 25%;
  }
}

.grid .column-40 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .grid .column-40 {
    width: 40%;
  }
}

.grid .column-60 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .grid .column-60 {
    width: 60%;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?sacfjd");
  src: url("../fonts/icomoon.eot?sacfjd#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?sacfjd") format("truetype"), url("../fonts/icomoon.woff?sacfjd") format("woff"), url("../fonts/icomoon.svg?sacfjd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "";
}

.icon-design:before {
  content: "";
}

.icon-free:before {
  content: "";
}

.icon-help:before {
  content: "";
}

.icon-idea:before {
  content: "";
}

.icon-ionicons:before {
  content: "";
}

.icon-photoshop:before {
  content: "";
}

.icon-pixel:before {
  content: "";
}

.icon-logo:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-location:before {
  content: "";
}

.icon-sphere:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-dribbble:before {
  content: "";
}

.icon-github2:before {
  content: "";
}

.icon-paperplane:before {
  content: "";
}

.header {
  padding: 10px 0 12px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  margin-top: 7px;
}

.header .logo-image, .header .logo-phone {
  display: inline-block;
}

.header .logo-image [class*="icon-"] {
  color: #fff;
  font-size: 20px;
}

.header .logo-phone {
  margin-left: 25px;
  padding-left: 30px;
  color: #fff;
  font-size: 13px;
  font-family: "Montserrat", Helvetica, sans-serif;
  vertical-align: top;
}

.header-inverse {
  position: relative;
}

.header-inverse .logo-image [class*="icon-"] {
  color: #0f5f5c;
}

.header-inverse .logo-phone {
  color: #83a7a5;
}

.footer {
  padding: 30px 0;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 95px 0 10px 0;
  }
}

.footer-block {
  margin-bottom: 20px;
  padding: 0 15px;
}

.footer-block h6 {
  margin: 0 0 15px 0;
  color: #0f5f5c;
}

@media screen and (min-width: 768px) {
  .footer-block {
    margin-bottom: 59px;
    padding-left: 0;
  }
}

.footer .logo {
  display: inline-block;
  margin: 5px 0 11px 0;
}

.footer .logo [class*="icon-"] {
  color: #0f5f5c;
  font-size: 15px;
}

.footer .rights {
  margin-top: 24px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer .rights {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer .column-25:nth-child(2) .footer-block {
    padding-left: 9px;
  }
}

@media screen and (min-width: 768px) {
  .footer .column-25:nth-child(3) .footer-block {
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px) {
  .footer .column-25:nth-child(4) .footer-block {
    padding-left: 24px;
  }
}

.opacity-block {
  position: relative;
}

.opacity-block:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(45, 110, 112, 0.9);
}

.opacity-block-holder {
  position: relative;
  z-index: 10;
}

.opacity-block-header {
  background: url("../image/content/bg-home.jpg") no-repeat;
  background-size: cover;
}

.opacity-block-bottom {
  background: url("../image/content/bg-bottom.jpg") no-repeat;
  background-size: cover;
}

.opacity-block-bottom:after {
  background: rgba(238, 241, 236, 0.95);
}

.opacity-block-bottom-color:after {
  background: rgba(111, 176, 72, 0.95);
}

.opacity-block-about {
  background: url("../image/content/bg-about.jpg") no-repeat;
  background-size: cover;
}

.block {
  padding: 30px 0;
}

.block h3 {
  color: #0f5f5c;
}

.block .heading {
  font-size: 15px;
  margin-top: -9px;
}

.block-inverse {
  background: #eef1ec;
}

@media screen and (min-width: 768px) {
  .block-features {
    padding: 54px 0 71px 0;
  }
}

.block-features .heading {
  margin-bottom: 65px;
}

.block-features .info-block {
  margin-bottom: 30px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .block-features .info-block {
    margin-bottom: 53px;
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .block-template {
    padding: 33px 0 0 0;
  }
}

.block-template .heading {
  margin-bottom: 19px;
}

.block-template .image-holder {
  width: 45%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block-template .image-holder {
    width: 100%;
  }
  .block-template .image-holder img {
    margin-left: 17px;
  }
}

@media screen and (min-width: 768px) {
  .block-template .info-block {
    margin-top: 115px;
  }
}

.block-template .info-block h3 {
  margin-bottom: 0;
}

.block-template .info-block p {
  margin-top: 5px;
}

.block-template .checked {
  margin: 18px 0;
}

@media screen and (min-width: 768px) {
  .block-quote {
    padding: 140px 0 139px 0;
  }
}

.block-quote blockquote {
  font-family: "Merriweather", Helvetica, serif;
  font-weight: 300;
  font-size: 22px;
  padding: 0;
  line-height: 1.8181818182;
  margin: 0 0 18px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .block-quote blockquote {
    margin-top: 87px;
    text-align: left;
  }
}

.block-quote cite {
  display: block;
  font-weight: 500;
  color: #6fb048;
  font-style: normal;
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .block-quote cite {
    text-align: left;
    margin-bottom: 0;
  }
}

.block-quote cite mark {
  display: block;
  color: #83a7a5;
  font-weight: normal;
  background: transparent;
}

.block-quote .image-holder {
  width: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block-quote .image-holder {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .block-quote .image-holder img {
    margin-right: 0;
    margin-left: auto;
  }
}

.block-details {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .block-details {
    padding: 60px 0 55px 0;
  }
}

.block-details .info-block {
  padding-left: 15px;
}

.block-details .info-block h3 {
  margin-bottom: 0;
}

.block-details .info-block p {
  margin-top: 6px;
  line-height: 1.7142857;
}

@media screen and (min-width: 768px) {
  .block-details .info-block {
    margin-top: 97px;
    padding-left: 0;
  }
}

.block-details .image-holder {
  width: 80%;
  margin: 0 auto;
}

.block-details .image-holder img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .block-details .image-holder {
    padding-left: 36px;
    width: 100%;
  }
  .block-details .image-holder img {
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .block-pricing {
    padding: 53px 0 92px 0;
  }
}

.block-pricing .heading {
  margin-bottom: 32px;
}

.block-pricing .pricing {
  margin-bottom: 72px;
}

.block-pricing .head {
  padding-bottom: 4px;
  margin-bottom: 43px;
}

.block-pricing .checked {
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .block-pricing .checked {
    margin-bottom: 58px;
    padding-left: 0;
  }
}

.block-pricing .checked li {
  margin-bottom: 13px;
}

.block-pricing .head-icon {
  margin-bottom: 30px;
}

.block-pricing .mail {
  margin-top: -5px;
}

@media screen and (min-width: 768px) {
  .block-pricing .column-3:nth-child(2), .block-pricing .column-3:last-child {
    padding-left: 28px;
  }
}

.block .head-icon [class*="icon-"] {
  display: block;
  font-size: 43px;
  margin-bottom: 5px;
}

.block-download {
  padding: 30px 0;
}

@media screen and (min-width: 768px) {
  .block-download {
    padding: 64px 0 57px 0;
  }
}

.block-download .info-block {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .block-download .info-block {
    margin-left: 2px;
    text-align: left;
  }
}

.block-download .info-block h3 {
  font-size: 28px;
  margin: 0;
  color: #0f5f5c;
}

.block-download .info-block p {
  font-size: 15px;
  margin-top: -3px;
}

.block-download .btn-holder {
  text-align: center;
  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  .block-download .btn-holder {
    text-align: right;
  }
}

.block-download-inverse .info-block {
  color: #fff;
}

.block-download-inverse .info-block h3 {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .block-about {
    padding: 35px 0 78px 0;
  }
}

.block-about .heading {
  margin-top: 42px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .block-about .heading {
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 768px) {
  .block-team {
    padding: 33px 0 89px 0;
  }
}

.block-team .heading {
  margin-top: 42px;
  margin-bottom: 83px;
}

@media screen and (min-width: 768px) {
  .block-price {
    padding: 23px 0 44px 0;
  }
}

.block-price h3 {
  line-height: 1.1875;
  margin-bottom: 20px;
}

.block-price .heading {
  margin-bottom: 45px;
}

.block-price .pricing {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .block-list {
    padding: 35px 0 92px 0;
  }
}

.block-list h3 {
  margin-bottom: 44px;
}

.block-list .checked {
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .block-list .checked {
    padding-left: 0;
    margin-bottom: 60px;
  }
}

.block-list .checked li {
  margin-bottom: 13px;
}

.block-list .head-icon {
  margin-bottom: 31px;
}

.block-list .heading {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .block-form {
    padding: 39px 0 78px 0;
  }
}

.block-form h3 {
  padding-bottom: 2px;
}

.block-form .heading {
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .block-form .heading {
    margin-bottom: 80px;
  }
}

.block-form .head {
  margin-bottom: 20px;
  color: #0f5f5c;
}

.block-form .info-block {
  margin: 0 40px;
  padding: 34px 40px 27px 40px;
  border: 2px dashed #c1d3d2;
}

@media screen and (min-width: 768px) {
  .block-form .info-block {
    margin: 0 72px 0 10px;
  }
}

.block-form .info-block .media {
  margin-bottom: 23px;
}

.block-form .info-block .media:nth-of-type(3) {
  margin-bottom: 7px;
}

.block-form .form .btn {
  margin-bottom: 30px;
}

.main-nav .nav-toggle {
  position: relative;
  padding: 9px 10px;
  border-radius: 2px;
  background: #0f5f5c;
  border-color: transparent;
  margin-right: 10px;
}

.main-nav .nav-toggle:focus {
  outline: none;
}

.main-nav .nav-toggle:hover {
  background: #168b87;
}

.main-nav .nav-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
}

.main-nav .nav-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.main-nav .nav {
  display: none;
}

.main-nav .nav.open {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 100;
  background: #0f5f5c;
}

.main-nav .nav.open li {
  display: block;
}

.main-nav .nav.open li.active a {
  color: #fff;
}

.main-nav .nav.open li a {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  border-radius: 2px;
}

.main-nav .nav.open li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.35);
}

@media screen and (min-width: 768px) {
  .main-nav .nav-toggle {
    display: none;
  }
  .main-nav .nav {
    display: block;
    position: static;
  }
  .main-nav .nav li {
    display: inline-block;
  }
  .main-nav .nav li.active a {
    color: #fff;
  }
  .main-nav .nav li a {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 14px;
    display: inline-block;
    border-radius: 2px;
  }
  .main-nav .nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.35);
  }
}

.main-nav-inverse .nav-toggle {
  background: #6fb048;
}

.main-nav-inverse .nav-toggle:hover {
  background: #588c39;
}

.main-nav-inverse .nav.open {
  background: #6fb048;
}

@media screen and (min-width: 768px) {
  .main-nav-inverse .nav li.active a {
    color: #83a7a5;
  }
  .main-nav-inverse .nav li a {
    color: #83a7a5;
  }
  .main-nav-inverse .nav li a:hover {
    color: #fff;
    background: #6fb048;
  }
}

.footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav li {
  margin-bottom: 6px;
}

.footer-nav li a {
  color: #83a7a5;
}

.footer-nav li a:hover {
  text-decoration: underline;
}

.footer-nav-list li {
  position: relative;
  padding-left: 20px;
}

.footer-nav-list li:before {
  content: attr(data-text);
  left: 0;
  top: 0;
  position: absolute;
}

.border {
  position: relative;
}

.border:after {
  content: "";
  position: absolute;
}

.border-header:after {
  top: 100%;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.border-header-inverse:after {
  border-bottom: 1px solid rgba(131, 167, 165, 0.5);
}

.border-left:after {
  top: 0;
  bottom: 0;
  right: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.border-sm:after {
  left: 47%;
  right: 47%;
  bottom: -8px;
  border-bottom: 1px solid #6fb048;
}

.border-footer:after {
  top: 100%;
  left: 0;
  right: 0;
  border-bottom: 1px solid #eef1ec;
}

.jumbotron {
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.jumbotron h1, .jumbotron .h1, .jumbotron h2, .jumbotron .h2 {
  color: #fff;
}

.jumbotron p {
  font-size: 16px;
}

.jumbotron-left {
  max-width: 100%;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .jumbotron-left {
    max-width: 50%;
  }
}

.jumbotron-left h2 {
  margin-top: 52px;
  margin-bottom: 0;
}

.jumbotron-left p {
  margin-top: -2px;
  margin-bottom: 20px;
}

.jumbotron-left .btn {
  margin-bottom: 27px;
}

.jumbotron-lg {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .jumbotron-lg {
    padding-top: 110px;
    padding-bottom: 146px;
  }
}

.jumbotron-lg .h1 {
  line-height: 1.2;
  margin-bottom: 30px;
}

.btn {
  color: #fff;
  font-family: "Montserrat", Helvetica, sans-serif;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 11px 25px;
  font-size: 13px;
  display: inline-block;
  border: none;
}

.btn-sm {
  padding: 10px 15px;
  font-size: 12px;
}

.btn-lg {
  padding: 15px 45px;
  font-size: 14px;
}

.btn-wide {
  padding: 15px 43px;
}

.btn-primary {
  background: #6fb048;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background: #588c39;
}

.btn-pricing {
  background: #83a7a5;
}

.btn-pricing:hover, .btn-pricing:focus, .btn-pricing:active, .btn-pricing.active {
  background: #67908e;
}

.btn-pricing:hover, .btn-pricing.active, .btn-pricing:focus {
  background: #6fb048;
}

.btn-inverse {
  background: #49732f;
}

.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active {
  background: #324f20;
}

.thumbnail {
  margin-bottom: 25px;
  padding: 0 15px;
}

.thumbnail-image [class*="icon-"] {
  color: #6fb048;
  font-size: 52px;
}

.thumbnail-caption {
  color: #0f5f5c;
}

.thumbnail-caption h4 {
  margin-bottom: 12px;
  margin-top: 19px;
}

.thumbnail-content {
  line-height: 1.57142857;
}

.thumbnail-simple {
  padding: 0 26px;
}

.thumbnail-simple .thumbnail-image img {
  width: 100%;
}

.thumbnail-simple .thumbnail-caption h5 {
  margin-top: 13px;
  margin-bottom: -1px;
}

.media {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.media-image {
  margin-right: 12px;
}

.media-image [class*="icon-"] {
  color: #6fb048;
  font-size: 32px;
  margin: 0 8px;
}

.media-content {
  color: #0f5f5c;
}

.media-content h4 {
  margin: 0;
}

.media-sm {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.media-sm .media-image {
  margin-right: 7px;
}

.media-sm .media-image [class*="icon-"] {
  font-size: 20px;
  margin: 0;
}

.media-sm .media-content {
  color: #83a7a5;
  font-size: 15px;
}

.pricing {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .pricing {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.pricing-block {
  min-width: 253px;
  max-width: 253px;
  padding-bottom: 30px;
  border: 1px solid #c1d3d2;
  text-align: center;
}

.pricing-block:first-child {
  border-radius: 2px 2px 0 0;
  border-bottom: none;
}

.pricing-block:last-child {
  border-radius: 0 0 2px 2px;
  border-top: none;
}

@media screen and (min-width: 768px) {
  .pricing-block:first-child {
    border-radius: 2px 0 0 2px;
    border-right: none;
    border-bottom: 1px solid #c1d3d2;
  }
  .pricing-block:last-child {
    border-radius: 0 2px 2px 0;
    border-left: none;
    border-top: 1px solid #c1d3d2;
  }
}

.pricing-block h5 {
  text-transform: uppercase;
  color: #6fb048;
  font-weight: 500;
  margin-bottom: -3px;
}

.pricing-block .price {
  font-size: 65px;
  font-family: "Montserrat", Helvetica, sans-serif;
  color: #0f5f5c;
}

.pricing-block .price p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-top: -24px;
  margin-bottom: 16px;
}

.pricing-block p {
  margin: 0 0 6px 0;
}

.pricing-block p:last-of-type {
  margin-bottom: 18px;
}

.input-group {
  margin-bottom: 27px;
}

::-webkit-input-placeholder {
  color: #83a7a5;
}

::-moz-placeholder {
  color: #83a7a5;
}

:-moz-placeholder {
  color: #83a7a5;
}

:-ms-input-placeholder {
  color: #83a7a5;
}

.form {
  padding: 0 40px;
}

@media screen and (min-width: 768px) {
  .form {
    padding: 0 54px 0 72px;
  }
}

.form-control {
  background: #eef1ec;
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
  box-sizing: border-box;
  width: 100%;
}

.form-control [class*="icon-"] {
  color: #6fb048;
  font-size: 14px;
}

.form-control:focus {
  outline: none;
}

.form-control-light {
  background: transparent;
  border: 1px solid #c1d3d2;
  padding: 15px 18px 17px 18px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
}

textarea.form-control-light {
  min-height: 134px;
  resize: vertical;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  color: #83a7a5;
  margin-bottom: -9px;
}

.input-btn {
  position: relative;
}

.input-btn button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20%;
}

.input-btn button:hover, .input-btn button.active {
  background: #d4dbcf;
}

.social {
  margin: 20px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .social {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.social-block {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  color: #fff;
  margin-left: 10px;
  font-size: 18px;
}

.social-block-tw {
  background: #55acee;
}

.social-block-tw:hover, .social-block-tw.active {
  background: #83c3f3;
}

.social-block-fb {
  background: #3b5998;
}

.social-block-fb:hover, .social-block-fb.active {
  background: #4c70ba;
}

.social-block-inst {
  background: #3f729b;
}

.social-block-inst:hover, .social-block-inst.active {
  background: #548cb9;
}

.social-block-drib {
  background: #ea4c89;
}

.social-block-drib:hover, .social-block-drib.active {
  background: #ef7aa7;
}

.social-block-git {
  background: #333333;
}

.social-block-git:hover, .social-block-git.active {
  background: #4d4d4d;
}

#map {
  height: 435px;
  width: 100%;
  position: relative;
}

.gm-style-iw * {
  display: block;
  width: 100%;
}

.gm-style-iw h4, .gm-style-iw p {
  margin: 0;
  padding: 0;
}

.gm-style-iw a {
  color: #4272db;
}

/*# sourceMappingURL=all.css.map */