
body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1060px;
	padding: 0 15px;
	margin: 0 auto;
}
h1,.h1{
	font-size: $font-size-h1;
	font-weight: 300;
}
h2,.h2{
	font-size: $font-size-h2;
	font-weight: 400;
}
h3,.h3{
	font-size: $font-size-h3;
	font-weight: 300;
}
h4,.h4{
	font-size: $font-size-h4;
	font-weight: 400;
}
h5,.h5{
	font-size: $font-size-h5;
	font-weight: 500;
}
h6,.h6{
	font-size: $font-size-h6;
	font-weight: 500;
}
.head{
	font-size: $font-size-xlg;
	font-weight: 300;
}
a{
	text-decoration: none;
}
.text-center{
	text-align: center;
}
.center-block{
	margin: 0 auto;
}
.text-uppercase{
	text-transform: uppercase;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}
.img-round{
	border-radius: 50%;
}
.checked{
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		margin-bottom: 17px;
		padding-left: 34px;
		position: relative;
		&:before{
			content: "\e900";
			font-family: 'icomoon';
			font-size: 26px;
			position: absolute;
			top: -7px;
			left: 0;
		}
	}
}
.delimiter{
	width: 40px;
	height: 40px;
	border-bottom: 1px solid $delimiter-color;
	position: relative;
	margin-bottom: 54px;
	&:after{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		border-left: 1px solid $delimiter-color;
	}
	@media screen and (min-width: 768px){
		width: 90px;
		height: 90px;
	}
}
.text-primary{
	color: $brand-primary;
	h1, h2, h3, h4, h5, h6{
		color: $brand-primary;
	}
}
.mail{
	display: block;
	font-size: 18px;
	color: $secondary-brand !important;
	&:hover{
		text-decoration: underline;
	}
	&-md{
		display: inline-block;
		font-size: $font-size-lg;
	}
	&-sm{
		font-size: $font-size-sm;
	}
}
