.block{	
	padding: 30px 0;
	h3{
		color: $secondary-brand;
	}
	.heading{
		font-size: $font-size-lg;
		margin-top: -9px;	
	}
	&-inverse{
		background: $block-inverse-bg;
	}
	&-features{
		@media screen and (min-width: 768px){
			padding: 54px 0 71px 0;
		}
		.heading{
			margin-bottom: 65px;
		}
		.info-block{
			margin-bottom: 30px;
			padding-left: 15px;
			@media screen and (min-width: 768px){
				margin-bottom: 53px;
				padding-left: 0;
			}
		}
	}
	&-template{
		@media screen and (min-width: 768px){
			padding: 33px 0 0 0;
		}
		.heading{
			margin-bottom: 19px;
		}
		.image-holder{
			width: 45%;
			margin: 0 auto;
			@media screen and (min-width: 768px){
				width: 100%;
				img{
					margin-left: 17px;
				}
			}	
		}
		.info-block{
			@media screen and (min-width: 768px){
				margin-top: 115px;
			}
			h3{
				margin-bottom: 0;
			}
			p{
				margin-top: 5px;
			}
		}
		.checked{
			margin: 18px 0;
		}
	}
	&-quote{
		@media screen and (min-width: 768px){
			padding: 140px 0 139px 0;
		}
		blockquote{
			font-family: $blockquote-font-family;
			font-weight: 300;
			font-size: $font-size-xlg;
			padding: 0;
			line-height: 1.8181818182;
			margin: 0 0 18px 0;
			text-align: center;
			@media screen and (min-width: 768px){
				margin-top: 87px;
				text-align: left;
			}
		}
		cite{
			display: block;
			font-weight: 500;
			color: $brand-primary;
			font-style: normal;
			text-align: center;
			margin-bottom: 15px;
			@media screen and (min-width: 768px){
				text-align: left;
				margin-bottom: 0;
			}
			mark{
				display: block;
				color: $text-color;
				font-weight: normal;
				background: transparent;
			}
		}
		.image-holder{
			width: 50%;
			margin: 0 auto;
			@media screen and (min-width: 768px){
				width: 100%;
			}
			img{
				@media screen and (min-width: 768px){
					margin-right: 0;
					margin-left: auto;
				}
			}
		}
	}
	&-details{
		@media screen and (min-width: 768px){
			padding: 60px 0 55px 0;
		}
		overflow: hidden;
		.info-block{
			padding-left: 15px;
			h3{
				margin-bottom: 0;
			}
			p{
				margin-top: 6px;
				line-height: 1.7142857;
			}
			@media screen and (min-width: 768px){
				margin-top: 97px;
				padding-left: 0;
			}
		}
		.image-holder{
			width: 80%;
			margin: 0 auto;
			img{
				width: 100%;
				height: auto;
			}
			@media screen and (min-width: 768px){
				padding-left: 36px;
				width: 100%;
				img{
					width: auto;
				}
			}
		}
	}
	&-pricing{
		@media screen and (min-width: 768px){
			padding: 53px 0 92px 0;
		}
		.heading{
			margin-bottom: 32px;
		}
		.pricing{
			margin-bottom: 72px;
		}
		.head{
			padding-bottom: 4px;
			margin-bottom: 43px;
		}
		.checked{
			padding-left: 15px;
			@media screen and (min-width: 768px){
				margin-bottom: 58px;
				padding-left: 0;
			}
			li{
				margin-bottom: 13px;
			}
		}
		.head-icon{
			margin-bottom: 30px;
		}
		.mail{
			margin-top: -5px;
		}
		@media screen and (min-width: 768px){
			.column-3:nth-child(2), .column-3:last-child{
				padding-left: 28px;
			}
		}
	}
	.head-icon{
			[class*="icon-"]{
				display: block;
				font-size: 43px;
				margin-bottom: 5px;
			}
		}
	&-download{
		padding: 30px 0;
		@media screen and (min-width: 768px){
			padding: 64px 0 57px 0;
		}
		.info-block{
			text-align: center;
			@media screen and (min-width: 768px){
				margin-left: 2px;	
				text-align: left;
			}
			h3{
				font-size: 28px;
				margin: 0;
				color: $secondary-brand;
			}
			p{
				font-size: $font-size-lg;
				margin-top: -3px;
			}
		}
		.btn-holder{
			text-align: center;
			padding-top: 16px;
			@media screen and (min-width: 768px){
				text-align: right;
			}
		}
		&-inverse{
			.info-block{
				color: $link-color;
				h3{
					color: $link-color;
				}
			}
		}	
	}
	&-about{
		@media screen and (min-width: 768px){
			padding: 35px 0 78px 0;
		}
		.heading{
			margin-top: 42px;
			margin-bottom: 30px;
			@media screen and (min-width: 768px){
				margin-bottom: 90px;
			}
		}
	}
	&-team{
		@media screen and (min-width: 768px){
			padding: 33px 0 89px 0;
		}
		.heading{
			margin-top: 42px;
			margin-bottom: 83px;
		}
	}
	&-price{
		@media screen and (min-width: 768px){
			padding: 23px 0 44px 0;
		}
		h3{
			line-height: 1.1875;
			margin-bottom: 20px;
		}
		.heading{
			margin-bottom: 45px;
		}
		.pricing{
			margin-bottom: 25px;
		}
	}
	&-list{
		@media screen and (min-width: 768px){
			padding: 35px 0 92px 0;
		}
		h3{
			margin-bottom: 44px;
		}
		.checked{
			padding-left: 15px;
			@media screen and (min-width: 768px){
				padding-left: 0;
				margin-bottom: 60px;
			}
			li{
				margin-bottom: 13px;
			}
		}
		.head-icon{
			margin-bottom: 31px;
		}
		.heading{
			margin-bottom: 25px;
		}
	}
	&-form{
		@media screen and (min-width: 768px){
			padding: 39px 0 78px 0;
		}
		h3{
			padding-bottom: 2px;
		}
		.heading{
			margin-bottom: 35px;
			@media screen and (min-width: 768px){
				margin-bottom: 80px;
			}
		}
		.head{
			margin-bottom: 20px;
			color: $secondary-brand;
		}
		.info-block{
			margin: 0 40px;
			padding: 34px 40px 27px 40px;
			border: 2px dashed $pricing-border;
			@media screen and (min-width: 768px){
				margin: 0 72px 0 10px;
			}
			.media{
				margin-bottom: 23px;
				&:nth-of-type(3){
					margin-bottom: 7px;
				}
			}
		}
		.form{
			.btn{
				margin-bottom: 30px;
			}
		}
	}
}
