.border{
	position: relative;
	&:after{
		content:"";
		position: absolute;
	}
	&-header{
		&:after{
			top: 100%;
			left: 0;
			right: 0;
			border-bottom: 1px solid rgba(#fff,.2);
		}
		&-inverse{
			&:after{
				border-bottom: 1px solid rgba($text-primary,.5);
			}
		}
	}
	&-left{
		&:after{
			top: 0;
			bottom: 0;
			right: 100%;
			border-left: 1px solid rgba(#fff,.2);
		}
	}
	&-sm{
		&:after{
			left: 47%;
			right: 47%;
			bottom: -8px;
			border-bottom: 1px solid $brand-primary;
		}
	}
	&-footer{
		&:after{
			top: 100%;
			left: 0;
			right: 0;
			border-bottom: 1px solid $input-bg;
		}
	}
}