.btn{
	color: $link-color;
	font-family: $btn-font-family;
	text-transform: uppercase;
	border-radius: $border-radius-base;
	padding: 11px 25px;
	font-size: 13px;
	display: inline-block;
	border: none;
	&-sm{
		padding: 10px 15px;
		font-size: 12px;
	}
	&-lg{
		padding: 15px 45px;
		font-size: 14px;
	}
	&-wide{
		padding: 15px 43px;
	}
	&-primary{
		@include btn-variant($brand-primary);
	}
	&-pricing{
		@include btn-variant($text-primary);
		&:hover,
		&.active,
		&:focus{
			background: $brand-primary;
		}
	}
	&-inverse{
		@include btn-variant($btn-inverse-bg);
	}
}
