.footer{
	padding: 30px 0;
	@media screen and (min-width: 768px){
		padding: 95px 0 10px 0;
	}
	font-size: $font-size-sm;
	&-block{
		h6{
			margin: 0 0 15px 0;
			color: $secondary-brand;
		}
		margin-bottom: 20px;
		padding: 0 15px;
		@media screen and (min-width: 768px){
			margin-bottom: 59px;
			padding-left: 0;
		}		
	}
	.logo{
		display: inline-block;
		margin: 5px 0 11px 0;
		[class*="icon-"]{
			color: $secondary-brand;
			font-size: $font-size-lg;
		}
	}
	.rights{
		margin-top: 24px;
		text-align: center;
		@media screen and (min-width: 768px){
			text-align: left;
		}
	}
	.column-25:nth-child(2){
		.footer-block{
			@media screen and (min-width: 768px){
				padding-left: 9px;
			}
		}
	}
	.column-25:nth-child(3){
		.footer-block{
			@media screen and (min-width: 768px){
				padding-left: 15px;
			}
		}
	}
	.column-25:nth-child(4){
		.footer-block{
			@media screen and (min-width: 768px){
				padding-left: 24px;
			}
		}
	}
}