.input-group{
	margin-bottom: 27px;
}
::-webkit-input-placeholder {color: $text-primary};
	::-moz-placeholder          {color: $text-primary};
	:-moz-placeholder           {color: $text-primary};
	:-ms-input-placeholder      {color: $text-primary};
.form{
	padding: 0 40px;
	@media screen and (min-width: 768px){
		padding: 0 54px 0 72px;
	}
}
.form-control{
	background: $input-bg;
	border: none;
	padding: 10px 15px;
	border-radius: $border-radius-base;	
	box-sizing: border-box;
	width: 100%;
	[class*="icon-"]{
		color: $brand-primary;
		font-size: $font-size-base;
	}
	&:focus{
		outline: none;
	}
	&-light{
		background: transparent;
		border: 1px solid $input-border;
		padding: 15px 18px 17px 18px;
		box-shadow: 0 1px 2px 0 rgba(#000000, .12);
		font-size: $font-size-base;
		
	}
}
textarea.form-control-light{
	min-height: 134px;
	resize: vertical;
	font: $font-size-base $font-family-base;
	color: $text-primary;
	margin-bottom: -9px;
}
.input-btn{
	position: relative;
	button{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 20%;
		&:hover,
		&.active{
			background: darken($input-bg, 10%);
		}
	}
}