.grid{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	@media screen and (min-width: 768px){
		flex-wrap: nowrap;
	}
	.column-100{
		width: 100%;
	}
	.column-50{
		width: 100%;
		@media screen and (min-width: 768px){
			width: 50%;
		}
		&-margin{
			&:last-child{
				@media screen and (min-width: 768px){
					margin-left: 65px;
				}
			}
		}
	}
	.column-30{
		width: 100%;
		@media screen and (min-width: 768px){
			width: 33.3333333333%;
		}
	}
	.column-25{
		width: 33.333333%;
		&:last-child{
			width: 100%;
		}
		@media screen and (min-width: 996px){
			width: 25%;
			&:last-child{
				width: 25%;
			}
		}
	}
	.column-40{
		width: 100%;
		@media screen and (min-width: 768px){
			width: 40%;
		}
	}
	.column-60{
		width: 100%;
		@media screen and (min-width: 768px){
			width: 60%;
		}
	}
}