.header{
	padding: 10px 0 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.logo{
		margin-top: 7px;
		&-image, &-phone{
			display: inline-block;
		}
		&-image{
			[class*="icon-"]{
				color: $link-color;
				font-size: 20px;
			}
		}
		&-phone{
			margin-left: 25px;
			padding-left: 30px;
			color: $link-color;
			font-size: $font-size-sm;
			font-family: $btn-font-family;
			vertical-align: top;
		}
	}
	&-inverse{
		position: relative;
		.logo{
		&-image{
			[class*="icon-"]{
				color: $secondary-brand;
			}
		}
		&-phone{
			color: $text-primary;
			}
		}
	}
}
