.jumbotron{
	color: $jumbotron-color;
	padding-top:    $jumbotron-padding-sm;
	padding-bottom: $jumbotron-padding-sm;
	@media screen and (min-width: 768px){
		padding-top:    $jumbotron-padding-lg;
		padding-bottom: $jumbotron-padding-lg;
	}
	h1, .h1, h2, .h2{
		color: $jumbotron-color;
	}
	p{
		font-size: $font-size-h4;
	}
	&-left{
		max-width: 100%;
		@media screen and (min-width: 768px){
			max-width: 50%;
		}
		text-align: left;
		h2{
			margin-top: 52px;
			margin-bottom: 0;
		}
		p{
			margin-top: -2px;
			margin-bottom: 20px;
		}
		.btn{
			margin-bottom: 27px;
		}
	}
	&-lg{
		text-align: center;
		@media screen and (min-width: 768px){
			padding-top:    $jumbotron-padding;
			padding-bottom: 146px;
		}
		.h1{
			line-height: 1.2;
			margin-bottom: 30px;
		}
	}
}