#map {
        height:435px;
        width:100%;
        position: relative;
        // &:before{
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     background: rgba(#e7e9e6,.5);
        //     z-index: 10;
        // }
    }
.gm-style-iw * {
    display: block;
    width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}
