.media{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	&-image{
		margin-right: 12px;
		[class*="icon-"]{
			color: $brand-primary;
			font-size: 32px;
			margin: 0 8px;
		}
	}
	&-content{
		color: $secondary-brand;
		h4{
			margin: 0;
		}
	}
	&-sm{
		align-items: flex-start;
		.media-image{
			margin-right: 7px;
			[class*="icon-"]{
				font-size: 20px;
				margin: 0;
			}	
		}
		.media-content{
			color: $text-primary;
			font-size: 15px;
		}
	}
}