.main-nav{
	.nav-toggle{
		position: relative;
		padding: 9px 10px;
		border-radius: $border-radius-base;
		background: $secondary-brand;
		border-color: transparent;
		margin-right: 10px;
		&:focus{
			outline: none;
		}
		&:hover{
			background: lighten($secondary-brand, 10%);
		}
		.icon-bar{
			display: block;
			width: 22px;
			height: 2px;
			border-radius: 1px;
			background: $link-color;
		}
		.icon-bar + .icon-bar{
			margin-top: 4px;
		}
	}
	.nav{
		display: none;
		&.open{
			display: block;
			margin: 0;
			padding: 0;
			list-style: none;
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			z-index: 100;
			background: $secondary-brand;
			li{
				display: block;
				&.active{
					a{
						color: $link-color;
					}
				}
				a{
					color: rgba($link-color, .7);
					font-family: $btn-font-family;
					font-size: $font-size-sm;
					text-transform: uppercase;
					text-decoration: none;
					padding: 15px 20px;
					display: block;
					border-radius: $border-radius-base;
					&:hover{
						color: $link-color;
						background: rgba(#fff,.35);
					}
				}
			}
		}
	}
	@media screen and (min-width: 768px){
		.nav-toggle{
			display: none;
		}
		.nav{
			display: block;
			position: static;
			li{
				display: inline-block;
				&.active{
					a{
						color: $link-color;
					}
				}
				a{
					color: rgba($link-color, .7);
					font-family: $btn-font-family;
					font-size: $font-size-sm;
					text-transform: uppercase;
					text-decoration: none;
					padding: 7px 14px;
					display: inline-block;
					border-radius: $border-radius-base;
					&:hover{
						color: $link-color;
						background: rgba(#fff,.35);
					}
				}
			}
		}
	}
	&-inverse{
		
		.nav-toggle{
			background: $brand-primary;
			&:hover{
				background: darken($brand-primary, 10%);
			}
		}
		.nav{
			&.open{
				background: $brand-primary;
			}
		}
		@media screen and (min-width: 768px){
			.nav{
			li{
				&.active{
					a{
						color: $text-primary;
					}
				}
				a{
					color: $text-primary;
					&:hover{
						color: $link-color;
						background: $brand-primary;
					}
				}
			}
		}
		}
	}
}
.footer-nav{
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		margin-bottom: 6px;
		a{
			color: $text-color;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&-list{
		li{
			position: relative;
			padding-left: 20px;
			&:before{
				content: attr(data-text);
				left: 0;
				top: 0;
				position: absolute;
			}
		}
	}
}