.opacity-block{
	position: relative;
	&:after{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(45,110,112,.9);
	}
	&-holder{
		position: relative;
		z-index: 10;
	}
	&-header{
		background: url("../image/content/bg-home.jpg") no-repeat;
		background-size: cover;
	}
	&-bottom{
		background: url("../image/content/bg-bottom.jpg") no-repeat;
		background-size: cover;
		&:after{
			background: rgba(#eef1ec,.95);
		}
		&-color{
			&:after{
			background: rgba($brand-primary,.95);
		}
		}
	}
	&-about{
		background: url("../image/content/bg-about.jpg") no-repeat;
		background-size: cover;
	}
}