.pricing{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	@media screen and (min-width: 768px){
		flex-direction: row;
	}
	&-block{
		min-width: 253px;
		max-width: 253px;
		padding-bottom: 30px;
		border: 1px solid $pricing-border;
		text-align: center;
		&:first-child{
			border-radius: $border-radius-base $border-radius-base 0 0;
			border-bottom: none;
		}
		&:last-child{
			border-radius: 0 0 $border-radius-base $border-radius-base;
			border-top: none;
		}
		@media screen and (min-width: 768px){
			&:first-child{
				border-radius: $border-radius-base 0  0 $border-radius-base;
				border-right: none;
				border-bottom: 1px solid $pricing-border;
			}
			&:last-child{
				border-radius: 0 $border-radius-base $border-radius-base 0;
				border-left: none;
				border-top: 1px solid $pricing-border;
			}
		}
		h5{
			text-transform: uppercase;
			color: $brand-primary;
			font-weight: 500;
			margin-bottom: -3px;
		}
		.price{
			font-size: 65px;
			font-family: $btn-font-family;
			color: $secondary-brand;
			p{
				font-family: $font-family-base;
				font-size: $font-size-base;
				margin-top: -24px;
				margin-bottom: 16px;
			}
		}
		p{
			margin: 0 0 6px 0;
			&:last-of-type{
				margin-bottom: 18px;
			}
		}
	}
}