.social{
	margin: 20px 0;
	display: flex;
	justify-content: center;
	@media screen and (min-width: 768px){
		justify-content: flex-end;
	}
	&-block{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		text-align: center;
		line-height: 32px;
		color: $link-color;
		margin-left: 10px;
		font-size: 18px;
		&-tw{
			@include social-variant($brand-tw);
		}
		&-fb{
			@include social-variant($brand-fb);
		}
		&-inst{
			@include social-variant($brand-inst);
		}
		&-drib{
			@include social-variant($brand-drib);
		}
		&-git{
			@include social-variant($brand-git);
		}
	}
}