.thumbnail{
	margin-bottom: 25px;
	padding: 0 $thumbnail-padding;
	&-image{
		[class*="icon-"]{
			color: $brand-primary;
			font-size: 52px;
		}
	}
	&-caption{
		color: $secondary-brand;
		h4{
			margin-bottom: 12px;
			margin-top: 19px;
		}
	}
	&-content{
		line-height: 1.57142857;
	}
	&-simple{
		padding: 0 26px;
		.thumbnail-image{
			img{
				width: 100%;
			}
		}
		.thumbnail-caption{
			h5{
				margin-top: 13px;
				margin-bottom: -1px;
			}
		}
	}
}