$brand-primary:							#6fb048;
$secondary-brand:						#0f5f5c;
$text-primary:							#83a7a5;

$link-color:							#fff;

$font-family-base:						'Roboto', Helvetica, Arial, sans-serif;

$font-size-base:						14px;
$font-size-lg:							15px;
$font-size-sm:							13px;
$font-size-xlg:							22px;

$line-height-base:						1.57142857;
$text-color:							$text-primary;
$body-bg:								#fff;

$font-size-h1:							50px; 
$font-size-h2:							38px;
$font-size-h3:							32px; 
$font-size-h4:							16px; 
$font-size-h5:							$font-size-lg; 
$font-size-h6:							$font-size-sm; 

$border-radius-base:					2px;

$block-inverse-bg:						#eef1ec;

$thumbnail-padding:						$font-size-lg;

$blockquote-font-family:				'Merriweather', Helvetica, serif;

$btn-font-family:						'Montserrat', Helvetica, sans-serif;			
$btn-inverse-bg:						#49732f;

$jumbotron-color:						$link-color;
$jumbotron-padding-lg:					150px;
$jumbotron-padding-sm:					50px;
$jumbotron-padding:						110px;

$delimiter-color:						#f2f2f2;

$pricing-border:						#c1d3d2;

$input-bg:								#eef1ec;
$input-border:							$pricing-border;

$brand-tw:								#55acee;
$brand-fb:								#3b5998;
$brand-inst:							#3f729b;
$brand-drib:							#ea4c89;
$brand-git:								#333333;